head
  title Sam &amp; Zeph's Potluck
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js')
  script(src='/js/app.js')
  link(type="text/css", rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
  link(type="text/css", rel="stylesheet", href='https://fonts.googleapis.com/css?family=Pacifico|Noto+Sans:400,700')
  link(type="text/css", rel="stylesheet", href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css	')
  link(type="text/css", rel="stylesheet", href="/css/app.css")
  meta(name="robots" content="noindex, nofollow")
  meta(name="viewport" content="width=device-width, initial-scale=1")