head
  title Sam &amp; Zeph's Potluck
  script(src='/js/angular.js')
  script(src='/js/app.js')
  link(type="text/css", rel="stylesheet", href="/css/bootstrap.css")
  link(type="text/css", rel="stylesheet", href='https://fonts.googleapis.com/css?family=Pacifico|Noto+Sans:400,700')
  link(type="text/css", rel="stylesheet", href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css	')
  link(type="text/css", rel="stylesheet", href="/css/app.css")
  meta(name="robots" content="noindex, nofollow")
  meta(name="viewport" content="width=device-width, initial-scale=1")