- var pageTitle = "Sam n Zeph's Potluck"
doctype html
html(lang="en")
head
	title= pageTitle
body
	h1 Email Submit Form
	p.
		submit yr email and name
	form(method="post" action="/guests")
		input(type="text", name="name")
		input(type="text", name="email")
		button(type="submit", value="Submit").
			Submit