doctype html
html(lang="en")
  include ./partials/head.jade
  body
    div(ng-app='app')
      .container
        .row
          .col-sm-6
            div(ng-controller='mainController')
              // angular templating
              // this is where content will be injected
              <div ng-view></div>
