doctype html
html(lang="en")
  include ./partials/head.jade
  body
    div(ng-app='potluckValidation', ng-controller='potluckController')
      .main
        // FORM ============
        form(name='potluckForm', ng-submit='submitForm()', novalidate='', method='post' action='')
          div(ng-repeat='item in items track by $index')
            ng-form(name='itemForm')
              .form-group(ng-class="{ 'has-error' : potluckForm.name.$invalid && !potluckForm.name.$pristine }")
                label Item Name
                input(type='text', name='name', ng-model='item.name', required='')
                p.help-block(ng-show='potluckForm.name.$invalid && !potluckForm.name.$pristine') Item Name is required.
              .form-group(ng-class="{ 'has-error' : potluckForm.type.$invalid && !potluckForm.type.$pristine }")
                label Item Type
                select(type='select', name='type', ng-model='item.type', required='')
                  option(value='drinkAlchoholic') Drink – Alcoholic
                  option(value='drinkNonAlchoholic') Drink – Non-Alcoholic
                  option(value='foodPasta') Pasta Dish
                  option(value='foodPotato') Potato Dish
                  option(value='foodMeat') Meat Dish
                  option(value='foodVeggie') Veggie Dish
                  option(value='foodRice') Rice Dish
                  option(value='foodDessert') Dessert
                p.help-block(ng-show='potluckForm.type.$invalid && !potluckForm.type.$pristine') Select a type
              .form-group(ng-class="{ 'has-error' : potluckForm.servings.$invalid && !potluckForm.servings.$pristine }")
                label Servings (approximate)
                select(type='select', name='servings', ng-model='item.servings', required='')
                  option(value='10') 10
                  option(value='20') 20
                  option(value='30') 30
                  option(value='40') 40
                  option(value='50') 50
                  option(value='60') 60
                  option(value='70') 70
                  option(value='80') 80
                  option(value='90') 90
                  option(value='100') 100
                  option(value='120') 120
                  option(value='140') 140
                  option(value='150') 150+
                p.help-block(ng-show='potluckForm.servings.$invalid && !potluckForm.servings.$pristine') Select an amount of servings
              .form-group
                label Allergies
                div(ng-repeat='(allergy, selected) in item.allergies')
                  input(type='checkbox', id='{{ allergy }}' value='{{ allergy }}', ng-model='item.allergies[allergy]' ng-change='sync(allergies, item.allergies)').
                  label(for='{{ allergy }}') {{ allergy }}
              .form-group
                label Item Notes
                input(type='text', name='notes', ng-model='item.notes')
              button.remove(ng-click='nix($index)', ng-disabled='items.length === 1', href='#', onclick="return false;").
                Remove Item

          button.add(ng-click='addItem()', href='#', onclick='return false').
            Add Item
          button.submit(ng-disabled='potluckForm.$invalid', ng-click='submit()', href='#', onclick="return false;").
            Submit
              