/* Fool-proof @font-face */
body {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  background-image: url("http://media.giphy.com/media/13bGgH9VnEDsuA/giphy.gif");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font: normal lighter 14px/18px "Noto Sans", "Helvetica Neue", sans-serif;
  color: #0583F2;
  text-align: center; }

h1 {
  color: #BDD959; }

h2 {
  color: #025373; }

p {
  color: #0583F2; }

/* Checkbox Replacement */
input[type=checkbox] {
  visibility: hidden; }

/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: Ionicons;
  display: inline-block;
  content: "\f372";
  letter-spacing: 10px;
  position: absolute;
  margin-left: -25px;
  vertical-align: middle;
  font-size: 18px; }

input[type=checkbox]:checked + label:before {
  content: "\f373"; }

/* checked icon */
input[type=checkbox]:checked + label:before {
  letter-spacing: 10px; }

/* allow space for check mark */
.ng-enter {
  transition: 0.5s ease-in all;
  opacity: 0;
  max-height: -100px; }

.ng-enter-active {
  opacity: 1;
  max-height: 999px; }

.ng-leave {
  transition: 0.5s ease-in all;
  opacity: 1;
  max-height: 999px; }

.ng-leave-active {
  opacity: 0;
  max-height: -100px; }

/* Buttons */
/* reset */
button {
  display: block;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #F2F2F2;
  color: #025373;
  font-weight: bold; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:hover {
  background-color: #97AAF1; }

button.add {
  color: white;
  background-color: #BDD959;
  margin-right: 20px; }

button.add:hover {
  background-color: #8aa626;
  color: #cccccc; }

button.remove {
  background-color: #ee5555;
  color: white;
  margin-top: 20px; }

/* main container */
div.main {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 440px; }

@media screen and (max-width: 460px) {
  div.potluckitem {
    margin-left: 15px;
    margin-right: 15px;
    min-width: 290px; } }

/* Item Container */
.potluckitem {
  height: auto;
  overflow: hidden;
  padding: 60px 20px;
  width: auto;
  border-radius: 1%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 9px 94px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 94px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 94px -12px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.8); }

.potluckitem:first-child {
  margin-top: 30px; }

.potluckitem:last-child {
  margin-bottom: 30px; }

.checkgroup .ng-scope {
  margin-left: 27px; }

.allergies {
  text-align: center;
  border-bottom: 1px solid #0583F2;
  padding-bottom: 10px;
  margin-bottom: 10px; }

/* Form Styles */
input[type="text"], select {
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.3); }

input[type="text"] {
  width: 40%;
  background: #97AAF1;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5%;
  height: 30px;
  padding: 10px;
  margin-left: 15px; }

select[type="select"] {
  width: 40%;
  background: #97AAF1;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 5%;
  height: 30px;
  padding: 10px;
  margin-left: 15px; }

label {
  display: inline-block;
  width: 115px;
  text-align: left;
  font-size: 16px;
  line-height: auto;
  text-transform: uppercase;
  vertical-align: middle;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  color: white; }

.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0; }

.animate-enter.animate-enter-active {
  opacity: 1; }

.bottom-buttons {
  margin-top: 24px;
  margin-bottom: 46px; }
