/* Fool-proof @font-face */
body {
  background-color: #025373;
  font: normal lighter 14px/18px "Noto Sans", "Helvetica Neue", sans-serif;
  color: white; }

h1 {
  color: #BDD959; }

h2 {
  color: #025373; }

p {
  color: #0583F2; }
