/* Fool-proof @font-face */
body {
  background-color: #025373;
  font: normal lighter 14px/18px "Noto Sans", "Helvetica Neue", sans-serif;
  color: blue;
  text-align: center; }

h1 {
  color: #BDD959; }

h2 {
  color: #025373; }

p {
  color: #0583F2; }

input[type=checkbox] {
  visibility: hidden; }

/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: Ionicons;
  display: inline-block; }

input[type=checkbox] + label:before {
  content: "\f372"; }

/* unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 10px; }

/* space between checkbox and label */
input[type=checkbox]:checked + label:before {
  content: "\f373"; }

/* checked icon */
input[type=checkbox]:checked + label:before {
  letter-spacing: 10px; }

/* allow space for check mark */
/* Buttons */
/* reset */
button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

button {
  background-color: #F2F2F2;
  color: #025373;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold; }

button:hover {
  background-color: #97AAF1; }

/* main container */
div.main {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  background-color: white; }
